body,
button {
  font-family: 'Roboto Mono', monospace;
}

#calculator {
  width: 250px;
  margin: 3.125rem auto 0;
  border-radius: 10px;
  padding: 20px;
  background-color: #4D4F5A;
  box-shadow: 3px 3px 5px #bbb;
}

h3 {
  margin: 0 0 10px 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: 'Graduate', sans-serif;
  font-size: 2.5em;
}

.screen {
  text-align: right;
  margin-bottom: 15px;
  padding: 0 5px 5px 0;
  border: 1px solid #000;
  background-color: #9EAD96;
}

.answer {
  margin: 0 0 8px 0;
  font-size: 2em;
}

.calculation {
  margin: 0;
}

.keypad {
  width: 250px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  position: relative;
  font-size: 1.25em;
  border-style: none;
  outline-style: none;
}

button:hover {
  top: 1px;
}

button:active {
  top: 3px;
}

#ac,
#ce {
  background-color: #ff9844;
  box-shadow: 0 3px #84532b;
}

#ac:hover, 
#ce:hover {
  box-shadow: 0 1px #84532b;
}

#ac:active, 
#ce:active {
  box-shadow: 0 0 #84532b;
}

.operator,
#equals {
  background-color: #878E93;
  box-shadow: 0 3px #3c4042;
}

button.operator:active,
#equals:active {
  box-shadow: 0 0 #3c4042;
}

.operator:hover,
#equals:hover {
  box-shadow: 0 2px #3c4042;
}

.number,
#decimal {
  background-color: #222;
  color: #fff;
  box-shadow: 0 3px #000;
}

.number:hover,
#decimal:hover {
  box-shadow: 0 2px #000;
}

.number:active,
#decimal:active {
  box-shadow: 0 0 #000;
}

#equals {
  grid-column: 4;
  grid-row: 4 / 6;
}

button[value="0"] {
  grid-column: 1 / 3;
  grid-row: 5;
}